{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}
{% load pagination_tags %}

{% block content %}
 <div class="container color-content">
    <div class="row">
        <div class="col-12 mt-2">
            <div class="p-5 text-center">
                <h2 class="section-heading mb-2">
                    <span class="section-heading-upper text-center pr-4"><img class="img-png-titulo" src="{% static 'core/img/icono_publicaciones.png' %}"> Otras publicaciones</span>
                </h2>
            </div>
        {% if user.is_staff %}
            <a href="{% url 'create-publish' %}" class="mb-2 btn btn-success">Crear Nueva Publicación</a>
        {% endif %}
        
        {% autopaginate posts 5 %}
        {% for post in posts %}
        <div class="col-12 mb-4 pt-2" style="border: 2px solid rgb(0, 11, 75)">
            <h5><a href="{% url 'detail-publish' post.id %}">{{post.title}}</a></h5>
            <p>{{post.content|safe|truncatewords:50}}</p>
            <p>{{post.updated|date:"M d, Y"}}</p>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="pt-1 pb-1">
        {% paginate %}
    </div>
 </div>

{% endblock %}