{% extends 'core/base.html' %}
{% load static %}

{% block title %}Revista - El Caballo Azul{% endblock title %}

{% block content %}
    <section>
      <div class="container color-content">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="bg-faded rounded pr-5 pt-5 pb-5 text-center justify-content">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper pl-3"><img class="img-png-titulo" src="{% static 'core/img/history.png' %}">Breve Historia</span>
                </h2>
                <div class="text-left ml-5">
                  <div class="row">
                      <div class="col-lg-12 text-justify">
                        <p>La psicoterapia psicoanalítica a través del arte comienza en Santiago de Chile en el año 2000 con la
                            apertura de un espacio internacional -El Estudio De Arte y Psicoanálisis- dedicado al estudio de las
                            relaciones entre inconsciente, Arte y Cultura en lo que a las aproximaciones teóricas se refiere y al
                            ejercicio de la Psicoterapia Psicoanalítica a través del Arte, en lo que a la práctica concierne. Las
                            bases conceptuales del proyecto son el pensamiento complejo en general y la transdiciplina en
                            particular.
                        </p>
                        <p>
                            En proyecto se inició con seminarios teóricos y prácticos y avanzo hasta configurar una formación
                            de dos años académicos. Consecutivamente. El proyecto fue dirigido por el psicoanalista y artista
                            visual Daniel Malpartida, miembro de la Asociación Psicoanalítica Internacional, de la Sociedad
                            Peruana De Psicoanálisis y de la Asociación Psicoanalítica Chilena.
                        </p>
                        <p>
                            A lo largo der más de 10 años El Estudio De Arte y Psicoanálisis convoco a una serie de profesionales
                            nacionales como internacionales a una serie de eventos en la ciudad de Santiago de Chile. Siendo un
                            espacio abierto participaron en jornadas, seminarios, exposiciones y supervisiones, filósofos,
                            historiadores del arte, médicos, psiquiatras, psicólogos y psicoanalistas que tuvieran como base los
                            aportes del psicoanálisis para la comprensión del arte y de la cultura, así como sus correlatos clínicos.
                            En el anterior sentido la formación de los psicoterapeutas a través del arte dentro del “estudio” se
                            extendió a dos años lectivos.
                        </p>
                        <p>
                            En el año 2016 el Estudio de Arte y Psicoanálisis convoca a miembros y profesionales del entorno con la
                            intención de formar la Asociación Internacional De Psicoanálisis a Través del Arte, resultado de casi 20 años
                            de experiencia que llega a la culminación con la fundación en octubre del 2019 de la Asociación Internacional
                            Psicoanálisis a Través Del Arte inmersa dentro del psicoanálisis de conceptos ampliados y el paradigma de la
                            complejidad.
                        </p>
                      </div>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}